.jumbotron {
  display: flex;
  width: 90%;
  min-height: calc(100vh - 100px);
  align-items: center;
  padding: 0 0 0 10%;
  justify-content: center;
  background-color: var(--primaryColor);
  color: var(--white);
}

.jumbotron > * {
  flex: 1;
  position: relative;
}

.jumbotron > div:last-child {
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
  background-color: var(--terciaryColor);
}

.jumbotron img {
  display: block;
  width: auto;
  height: 200px;
  margin: auto;
  animation: fadeIn 1.5s;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.jumbotron img:nth-child(1) {
  transform: translateY(200px) rotate(70deg);
}

.jumbotron img:nth-child(2) {
  transform: rotate(80deg);
}

.jumbotron button {
  animation: fadeIn 2s;
}

.jumbotron h1 {
  animation: fadeInLeft 1s;
}
