footer {
  background-color: var(--primaryColor);
  color: var(--white);
  font-weight: normal;
  width: 90%;
  padding: 32px 5%;
  margin: 0 auto;
  font-family: sans-serif;
}

footer > a {
  margin-right: 1rem;
}
