header {
  position: fixed;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow:  0 0 10px var(--primaryColor);
  justify-content: space-between;
  font-weight: normal;
  background-color: var(--primaryColor);
  z-index: 1;
  top: 0;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 10rem 0 0;
}

header ul li {
  margin: 0 1rem;
}

header ul li a {
  text-decoration: none;
  color: var(--secondaryColor);
  letter-spacing: 2px;
  font-weight: normal;
  font-size: medium;
  text-transform: uppercase;
}

#header-logo {
  font-size: 2rem;
  margin: 0 0 0 10rem;
  color: var(--white);
  font-weight: bolder;
  letter-spacing: 5px;
}

#header-logo img {
  height: 60px;
  display: block;
}
